/* border-box*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #bada55; }

ul {
  list-style-type: none; }

li {
  display: inline;
  padding-left: 15px; }

input {
  display: block;
  margin: 5px; }

img {
  width: 100px;
  height: 150px;
  position: relative;
  z-index: 5; }

.book {
  position: relative; }

.back-cover {
  background: #000;
  width: 100px;
  height: 150px;
  position: absolute;
  top: -130px;
  left: 21px; }

.book-pages {
  background: #FFF4DD;
  width: 100px;
  height: 150px;
  position: absolute;
  top: -130px;
  left: 20px; }
