/* border-box*/
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

//General selectors

body{

	background:#bada55;
	font-family: 'Open Sans', sans-serif;
}

h2{
	color:white;
}

ul{

	list-style-type: none;
}

li{

	display:inline;
	padding-left:15px;
}

input{

	display:block;
	margin: 5px;
}

img{

	width:100px;
	height:150px;
	position:relative;
	z-index:5;
}

//Class selectors

.library{

	background:url('/images/bookshelf.jpg') no-repeat;
	 background-size:1900px 1000px;
	 background-position:0px -90px;
	 padding-bottom:400px;
}

//Book and related selectors

.book{

	position:relative;
	i{

		position:absolute;
		left:15px;
		z-index:10;
	}

}

.back-cover{

	background:#000;
	width:100px;
	height:150px;
	position: absolute;
	top:-130px;
	left:21px;
}

.book-pages{
	background:#FFF4DD;
	width:100px;
	height:150px;
	position: absolute;
	top:-130px;
	left:20px;
}



