<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<div ng-controller="MainController">

		<h1>Inventory</h1>
		<h2>See books</h2>
		<input type="search" ng-model="input" placeholder="filter books..." />
		<ul>
			<li ng-repeat="book in books | filter:input">
			{{book.name}} by {{ book.author }}
			</li>
		</ul>

		<h2>Add book</h2>
		<form name="newBookForm" ng-submit="submit(book)">
			<input type="name" ng-model="book.name" placeholder="name" />
			<input type="author" ng-model="book.author" placeholder="author" />
			<input type="genre" ng-model="book.genre" placeholder="genre" />
  			<input type="submit" id="submit" value="Submit" />
		</form>
	</div>


	<!--Vendors-->
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>

 	<!--Modules-->
 	<script src="app.js"></script>

	<!-- Controllers -->
	<script src="controllers/MainCtrl.js"></script>

	<!-- Services -->
	<script src="services/library.js"></script>

</body>
</html>