<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<div ng-controller="MainController">

		<h1>Inventory</h1>
		<input type="search" ng-model="input" placeholder="filter books..." />
		<ul class="example-animate-container">
			<li class="animate-repeat" ng-repeat="book in books | filter:input">
			{{book.name}} by {{ book.author }}
			</li>
		</ul>
	</div>
	<!--Vendors-->
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>

 	<!--Modules-->
 	<script src="app.js"></script>

	<!-- Controllers -->
	<script src="controllers/MainCtrl.js"></script>

</body>
</html>